.container {
  background-size: cover;
  background-position: center;
  min-height: auto;
  padding: 0px;
  color: rgb(65, 60, 60);
  text-align: left;
}

.container h1 {
  font-size: 2.5em;
  margin-top: 0.1em;
  max-width: 100%;
  align-self: self-start;

  /* Estilo visual */
  color: #ffffff; /* Cor branca */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397),
    /* Sombra sutil */ 0px 0px 10px rgb(255, 255, 255); /* Efeito flutuante */

  /* Estilo adicional para flutuar */
  transform: translateY(-10px); /* Elevação visual */
  transition: transform 0.3s ease, text-shadow 0.3s ease;

  /* Alinhamento */
  text-align: left;
}

/* Efeito hover */
.container h1:hover {
  transform: translateY(-15px); /* Aumenta a elevação */
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5),
    0px 0px 20px rgba(255, 255, 255, 0.8); /* Realça a sombra */
}

.container form {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.container div {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  font-size: 0.8em;
  align-items: flex-start;
  color: #ffffff; /* Cor branca */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397),
    /* Sombra sutil */ 0px 0px 10px rgb(255, 255, 255); /* Efeito flutuante */

  /* Estilo adicional para flutuar */
  transform: translateY(-5px); /* Elevação visual */
  transition: transform 0.3s ease, text-shadow 0.3s ease;

  /* Alinhamento */
  text-align: left;
}

.container label:hover {
  transform: translateY(-5px); /* Aumenta a elevação */
  text-shadow: 3px 3px 8px rgba(238, 215, 6, 0.5),
    0px 0px 20px rgba(255, 255, 255, 0.8); /* Realça a sombra */
}

.container label {
  font-weight: bold;
  color: #ecca6bdc;
  margin-bottom: 8px;
  font-size: 1.2em;
}

.container input,
.container select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
}

.container textarea {
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  color: #333;
  resize: vertical;
  min-height: 100px;
  width: 100%; /* Para usar toda a largura disponível */
}

.container button {
  display: grid;
  row-gap: 16px; /* Espaçamento vertical entre os botões */
  margin-top: 16px; /* Espaçamento entre os botões e o formulário */
  height: 30%;
  width: 50%;
  align-self: center;
  font-size: 0.8vw;
  background-color: #333;
  text-align: center;
}

.container button:hover {
  background-color: #f10e0eea;
}

.container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .form {
    grid-template-columns: 1fr;
  }
}
